<%- include('./partials/head.ejs') %>
<a class="backBtn" href="javascript:history.back()">Terug</a>
<main class="detail">
    <% artworks.forEach(artwork => { %>
    <figure>
        <figcaption>
            <h2><%=artwork.title%> - <%=artwork.principalOrFirstMaker%></h2>
            <p><%=artwork.longTitle%></p>
        </figcaption>
        <picture>
            <source srcset="<%= artwork.webImage.url + 1500%>" media="(min-width: 1200px)"
                alt="<%=artwork.longTitle%>" />
            <source srcset="<%= artwork.webImage.url + 1000%>" media="(min-width: 800px)"
                alt="<%=artwork.longTitle%>" />
            <img src="<%= artwork.webImage.url + 500%>" alt="<%=artwork.longTitle%>" />
        </picture>
    </figure>
    <% }) %>
</main>
<%- include('./partials/footer') %>