<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <ul>
        <% artworks.forEach(artwork => { %>
        <% if(artwork.webImage) {%>
        <li>
            <a href="/detail/<%= artwork.objectNumber %>">
                <figure>
                    <figcaption>
                        <h2><%= artwork.title %></h2>
                        <p><%=artwork.principalOrFirstMaker %></p>
                    </figcaption>
                    <picture>
                        <source srcset="<%= artwork.webImage.url + 1500%>" media="(min-width: 1200px)" />
                        <source srcset="<%= artwork.webImage.url + 1000%>" media="(min-width: 800px)" />
                        <img src="<%= artwork.webImage.url + 500%>" />
                    </picture>
                    <!-- <img src="<%= artwork.webImage.url + 1000%>" loading="lazy" alt="<%= artwork.longTitle %>"
                        sizes="(min-width: 768px)"
                        srcset="<%= artwork.webImage.url + 1500%> 800w, <%= artwork.webImage.url + 1000%> 600w, <%= artwork.webImage.url + 300%> 300w"> -->

                </figure>
            </a>
        </li>
        <% } else{ %>
        <% } %>
        <% }) %>
    </ul>
</main>
<%- include('./partials/footer') %>