<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <ul>
        <% artworks.forEach(artwork => { %>
        <% if(artwork.webImage) {%>
        <li>
            <a href="/detail/<%= artwork.objectNumber %>">
                <figure>
                    <figcaption>
                        <h2><%= artwork.title %></h2>
                        <p><%=artwork.principalOrFirstMaker %></p>
                    </figcaption>
                    <picture>
                        <source srcset="<%= artwork.webImage.url + 1500%>" media="(min-width: 1200px)"
                            alt="<%=artwork.longTitle%>" />
                        <source srcset="<%= artwork.webImage.url + 1000%>" media="(min-width: 800px)"
                            alt="<%=artwork.longTitle%>" />
                        <img src="<%= artwork.webImage.url + 500%>" alt="<%=artwork.longTitle%>" />
                    </picture>

                </figure>
            </a>
        </li>
        <% } else{ %>
        <% } %>
        <% }) %>
    </ul>
</main>
<%- include('./partials/footer') %>