<%- include('./partials/head.ejs') %>
<h1><%=title%></h1>
<% artworks.forEach(artwork => { %>
<ul>
    <% if(artwork.webImage) {%>
    <li>
        <a href="/detail/<%= artwork.id %>">
            <figure>
                <figcaption>
                    <h2><%= artwork.title %></h2>
                    <p><%=artwork.principalOrFirstMaker %></p>
                </figcaption>
                <img src="<%= artwork.webImage.url%>" alt="<%= artwork.longTitle %>">
            </figure>
        </a>
    </li>
    <% } else{ %>
    <% } %>
</ul>
<% }) %>

<%- include('./partials/footer') %>